.card {
    border: 1px ;
    border-style: solid;
    border-color: black;
    transition: 0.3s;
    border-radius: 10px; /* 5px rounded corners */
    padding: 1%;
    margin: 1%;

  }

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
.container {
    border-color: black;
}


.image {
    width: 40%;
  }